.info {
    display: flex;
    justify-content: space-around;
    div{
        padding: 20px;
        margin: 20px;
        background-color: rgb(185, 185, 185);
        gap: 20px;
        li{
            height: 50px;
            width: 200px;
            padding: 15px;
        }
    div{
        p{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: larger;
        }
    }
    }
}