.infoimg {
    display: flex;
    justify-content: space-around;

    div {
        img {
            margin: 20px;
            border: solid rgb(105, 105, 105);
            box-shadow: 16px 14px 9px 0px rgba(84, 81, 81, 0.64);
            -webkit-box-shadow: 16px 14px 9px 0px rgba(84, 81, 81, 0.64);
            -moz-box-shadow: 16px 14px 9px 0px rgba(84, 81, 81, 0.64);
        }
    }

    div {
        img {
            margin: 20px;
            border: solid rgb(105, 105, 105);
            box-shadow: 16px 14px 9px 0px rgba(84, 81, 81, 0.64);
            -webkit-box-shadow: 16px 14px 9px 0px rgba(84, 81, 81, 0.64);
            -moz-box-shadow: 16px 14px 9px 0px rgba(84, 81, 81, 0.64);
        }
    }
}
