.nav{
    text-align: center;
    background-color: rgb(87, 87, 87);
    display: flex;
    justify-content: space-around;
    div{
        div{
            li{
                margin: 15px;
                a{
                    text-decoration: none;
                    color: white;
                }
                a:hover{
                    color: #555555;
                }
            }
        }
    }
}