.servicios {
    padding: 30px;
    background-color: #818181;
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: #707070;
    border: 2px black solid;
    width: 400px;
    align-self: center;
    align-items: center;
    gap: 10px;
}

.card button {
    background-color: #858585;
}

.card-txt {
    padding: 10px;
    padding-top: 20px;
    text-align: start;
}

.card-hr {
    color: antiquewhite;
}

.card a {
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
}

.card img {
    width: 100%;
    height: 200px;
    border: 2px black solid;
    border-radius: 10px;
}